.login-container {
    display: flex;
}

.form-conteiner {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 307px;
    height: 565px;
    /* height: 100vh; */
}

.form-title {
    color: var(--secondary-text-color);
    font-family: var(--primary-font);
    font-size: 1.62rem;
}

.form-text {
    color: var(--secondary-text-color);
    font-family: var(--primary-font);
    margin-bottom: 2.5rem;
}

.form-text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 62.5%
}

.cadastro-span {
    color: var(--secondary-text-color);
    font-family: var(--primary-font);
    font-size: 0.9rem;
    text-align: center;
}

.form-checkbox {
    display: flex;
    padding: 1rem 2rem;
    gap: 0.5rem;
}

/* input engraçadinho */
.form-checkbox-text {
    color: #4F4F4F;
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }

  .form-checkbox  label {
    position: relative;
    cursor: pointer;
  }

  .form-checkbox  label:before {
    content: '';
    background-color: #eee;
    width: 19px;
    height: 19px;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-top: 3px;
  }

  .form-checkbox  input:checked + label:after {
    content: '\2716';
    display: block;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19px;
    height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5f5f5f;
    font-size: 12px;
    margin-top: 1px;
  }

  /* fim do input engraçadinho */

@media (max-width: 600px) {
    .login-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .form-container {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        position: absolute;
    }
}

@media (min-width: 600px) and (max-width: 992px) {
    .login-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .form-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 1;
        position: absolute;
        margin-top: 1.8rem;
    }
}