.login-container {
    display: flex;
}

.form-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 307px;
    height: 565px;
}

.form-title {
    color: var(--secondary-text-color);
    font-family: var(--primary-font);
    font-size: 1.62rem;
}

.form-text {
    color: var(--secondary-text-color);
    font-family: var(--primary-font);
    margin-bottom: 2.5rem;
}

.form-text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 62.5%;
}

.cadastro-span {
    color: var(--secondary-text-color);
    font-family: var(--primary-font);
    font-size: 0.9rem;
    text-align: center;
}

.form-checkbox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
}

.form-checkbox-input{
    display: flex;
    gap: 0.5rem;
}

.checkbox-error-message {
    color: var(--terciary-text-color);
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.checkbox {
    appearance: none;
    width: 1.5em;
    height: 1.2em;
    border-radius: 4px;
    background: #EEE;
    cursor: pointer;
    margin-top: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox:checked::before {
    content: "x";
    position: absolute;
    padding-bottom: 1.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4F4F4F;
    font-family: var(--primary-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.form-checkbox label {
    color: #4F4F4F;
    font-family: var(--primary-font);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cadastro-span {
    color: #0575E6;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media (max-width: 600px) {

    .login-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    .form-container {
        padding-top: 45px;
    }

}

@media (min-width: 600px) and (max-width: 992px) {

    .login-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .form-container {
        height: 50%;
    }

}
